# Игнорируем только временные папки Unity, которые реально не нужны
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

# Игнорируем IDE и системные файлы
.vscode/
.idea/
*.csproj
*.sln
*.user
*.suo
*.tmp
.DS_Store
Thumbs.db
desktop.ini
