
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
ProjectSettings/EditorBuildSettings.asset

.vscode/
.idea/
*.csproj
*.sln
*.user
*.suo
*.tmp

*.orig
*.lock
*.log

*.DotSettings

**/[Pp]ackageCache/
**/source~/

Assets/
ProjectSettings/
Packages/
